html{
    font-size: 16px; /* 1 rem = 16px */
}
body{
    margin: 0;
    font-family: Arial, sans-serif;
}
.container{
    width: 90%;
    max-width: 800px;
    margin: 0 auto; 
    border: 2px solid #333;
    padding: 1rem;
}
.hero{
    min-width: 50vh;
    background: #d0e6ff;
    padding: 2rem;
    margin-bottom: 1rem; /* marguem da parte de baixo */
}
.texto {
    font-size: 1rem;
}
.texto-destaque{
    font-size: 1.5em;
    color: blue;
}
.box-vw{
    width: 50vw;
    background: #ffe0cc;
    padding: 1rem;
    margin-top: 1rem;
}
