/* Caixa do popup */
.popup {
    width: 90%;
    background: black;
    display: block;
    display: flex;
    flex-direction: column;
    margin: 1rem;

}

.popup a {
    color: white;
    /* Herda a cor do elemento pai */
    text-decoration: none;
    /* Remove o sublinhado */
    padding: 1rem;
    width: 90%;
    border-bottom: 1px solid #00ccff;
}

/* Mostrar quando o alvo é ativado */
#navbar-profile:target {
    display: block;
}