
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tag{
    padding: 0.5rem;
    border-radius: 1rem;
}
.hero h2{
    margin: 0.5rem;
    color: white;
}
.hero img {
    height: 15rem;
}
.descricao-livro{
    border: 1px solid #6a0572;
    border-radius: 1rem;
    background-color: #7b85f1;
    color: black;
    margin: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.voltar-index a{
    font-size: 0.8125rem;
    text-decoration: none;
    color: inherit;
}
.voltar-index a:hover{
    font-size: 1rem;
    text-decoration: none;
    color: inherit;
}