
/* Container do carrossel */
.carrossel {
    margin: 1rem;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Esconde a barra de rolagem */
.carrossel::-webkit-scrollbar {
    display: none;
}

/* Cada slide */
.slide {
    flex: none;
    width: 100%;
    max-width: 37,5rem;
    height: 21,875rem;
    scroll-snap-align: start;
    position: relative;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}

/* Indicadores */
.indicadores {
    text-align: center;
    margin-top: 10px;
}

.indicadores a {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 5px;
    background: #ccc;
    border-radius: 50%;
    text-indent: -9999px;
    transition: background 0.3s;
}

.indicadores a:hover {
    background: #333;
}