/* Base */
html,
body {

    display: flex;
    flex-direction: column;
    /* Permite empurrar o footer para baixo */
    margin: 0px;
    padding: 0px;
    height: 100%;
    /* Ocupa toda a altura da tela */
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}
/* estrelas */
.checked {
    color: orange;
}
/* filtro de livros  */
section p{
    display: none;
}
section:target p{
    display: block;
}
/* cor padrao do hero */
.hero{
    background: radial-gradient(circle, #1e2dce, #1a0d6b);
}
.card-container a{
    text-decoration: none;
    color: inherit;
}